# Ignore directories
/node_modules
/public/build
/public/hot
/public/storage
/storage
/vendor/
/.fleet
/.idea
/.vscode
/composer.lock

# Ignore specific files
/.phpunit.cache
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/auth.json
/npm-debug.log
/yarn-error.log

# Include specific directories even though they match a pattern listed earlier
!/vendor/facebook
